
.recivedMessageTimeLabel {
    -fx-font-family: Inter;
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: #6F6F6F;
}

.sendMessageTimeLabel {
    -fx-font-family: Inter;
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: #ffffff;
}

.senderName {
    -fx-font-family: Inter;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
}

.reciverName {
    -fx-font-family: Inter;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: #464646;
}